## Pandas Exercises

In [4]:
import pandas as pd

## Problem 1

*The file `crime_data.txt` contrains data on types of crimes commited in the US from 1960 - 2016. Complete the following problems using this data.*

Load the data into a pandas DataFrame, using the column names in the file and the column titled “Year” as the index. Make sure to skip lines that don’t contain data.

In [5]:
crimes = pd.read_csv("crime_data.txt", index_col = "Year")
crimes

,Population,Total,Violent,Property,Murder,Forcible-Rape,Robbery,Aggravated-assault,Burglary,Larcency-Theft,Vehicle-Theft
Year,,,,,,,,,,,
1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
1965,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
1966,195576000,5223500,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
1967,197457000,5903400,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
1968,199399000,6720200,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
1969,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500
1970,203235298,8098000,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400
1971,206212000,8588200,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200
1972,208230000,8248800,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200
1973,209851000,8718100,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800
1974,211392000,10253400,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100
1975,213124000,11292400,1039710,10252700,20510,56090,470500,492620,3265300,5977700,1009600
1976,214659000,11349700,1004210,10345500,18780,57080,427810,500530,3108700,6270800,966000
1977,216332000,10984500,1029580,9955000,19120,63500,412610,534350,3071500,5905700,977700
1978,218059000,11209000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100
1979,220099000,12249500,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800
1980,225349264,13408300,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700
1981,229146000,13423800,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800
1982,231534000,12974400,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400
1983,233981000,12108600,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900
1984,236158000,11881800,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200
1985,238740000,12431400,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900
1986,240132887,13211869,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137
1987,242282918,13508700,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674
1988,245807000,13923100,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900
1989,248239000,14251400,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800
1990,248709873,14475600,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
1991,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700
1992,255082000,14438200,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800
1993,257908000,14144800,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100
1994,260341000,13989500,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300
1995,262755000,13862700,1798790,12063900,21610,97470,580510,1099210,2593800,7997700,1472400
1996,265228572,13493863,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200
1997,267637000,13194571,1634770,11558175,18208,96153,498534,1023201,2460526,7743760,1354189
1998,270296000,12475634,1531044,10944590,16914,93103,446625,974402,2329950,7373886,1240754
1999,272690813,11634378,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075
2000,281421906,11608072,1425486,10182586,15586,90178,408016,911706,2050992,6971590,1160002
2001,285317559,11876669,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391
2002,287973924,11878954,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646
2003,290690788,11826538,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226
2004,293656842,11679474,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851
2005,296507061,11565499,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859
2006,299398484,11401511,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809
2007,301621157,11251828,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769
2008,304374846,11160543,1392628,9767915,16442,90479,443574,842134,2228474,6588046,958629
2009,307006550,10762956,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652
2010,309330219,10363873,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
2011,311587816,10258774,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508
2012,313914040,10189902,1214464,8975438,14827,84376,354522,760739,2103787,6150598,721053

Insert a new column into the data frame that contains the crime rate by year (the ratio of “Total” column to the “Population” column).

In [6]:
crimes["Ratio"] = crimes.Total.divide(crimes.Population)
crimes

,Population,Total,Violent,Property,Murder,Forcible-Rape,Robbery,Aggravated-assault,Burglary,Larcency-Theft,Vehicle-Theft,Ratio
Year,,,,,,,,,,,,
1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200,0.018872
1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000,0.019061
1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800,0.020198
1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300,0.021803
1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800,0.023881
1965,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900,0.024490
1966,195576000,5223500,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200,0.026708
1967,197457000,5903400,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800,0.029897
1968,199399000,6720200,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600,0.033702
1969,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500,0.036800
1970,203235298,8098000,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400,0.039845
1971,206212000,8588200,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200,0.041647
1972,208230000,8248800,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200,0.039614
1973,209851000,8718100,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800,0.041544
1974,211392000,10253400,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100,0.048504
1975,213124000,11292400,1039710,10252700,20510,56090,470500,492620,3265300,5977700,1009600,0.052985
1976,214659000,11349700,1004210,10345500,18780,57080,427810,500530,3108700,6270800,966000,0.052873
1977,216332000,10984500,1029580,9955000,19120,63500,412610,534350,3071500,5905700,977700,0.050776
1978,218059000,11209000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100,0.051404
1979,220099000,12249500,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800,0.055655
1980,225349264,13408300,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700,0.059500
1981,229146000,13423800,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800,0.058582
1982,231534000,12974400,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400,0.056037
1983,233981000,12108600,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900,0.051750
1984,236158000,11881800,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200,0.050313
1985,238740000,12431400,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900,0.052071
1986,240132887,13211869,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137,0.055019
1987,242282918,13508700,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674,0.055756
1988,245807000,13923100,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900,0.056642
1989,248239000,14251400,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800,0.057410
1990,248709873,14475600,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900,0.058203
1991,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700,0.058978
1992,255082000,14438200,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800,0.056602
1993,257908000,14144800,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100,0.054844
1994,260341000,13989500,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300,0.053735
1995,262755000,13862700,1798790,12063900,21610,97470,580510,1099210,2593800,7997700,1472400,0.052759
1996,265228572,13493863,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200,0.050876
1997,267637000,13194571,1634770,11558175,18208,96153,498534,1023201,2460526,7743760,1354189,0.049300
1998,270296000,12475634,1531044,10944590,16914,93103,446625,974402,2329950,7373886,1240754,0.046155
1999,272690813,11634378,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075,0.042665
2000,281421906,11608072,1425486,10182586,15586,90178,408016,911706,2050992,6971590,1160002,0.041248
2001,285317559,11876669,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391,0.041626
2002,287973924,11878954,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646,0.041250
2003,290690788,11826538,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226,0.040684
2004,293656842,11679474,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851,0.039773
2005,296507061,11565499,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859,0.039006
2006,299398484,11401511,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809,0.038081
2007,301621157,11251828,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769,0.037305
2008,304374846,11160543,1392628,9767915,16442,90479,443574,842134,2228474,6588046,958629,0.036667
2009,307006550,10762956,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652,0.035058
2010,309330219,10363873,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565,0.033504
2011,311587816,10258774,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508,0.032924
2012,313914040,10189902,1214464,8975438,14827,84376,354522,760739,2103787,6150598,721053,0.032461

Insert a new column into the data frame that contains the crime rate by year (the ratio of “Total” column to the “Population” column).

In [7]:
crimes["Ratio"] = crimes.Total.divide(crimes.Population)
crimes

,Population,Total,Violent,Property,Murder,Forcible-Rape,Robbery,Aggravated-assault,Burglary,Larcency-Theft,Vehicle-Theft,Ratio
Year,,,,,,,,,,,,
1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200,0.018872
1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000,0.019061
1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800,0.020198
1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300,0.021803
1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800,0.023881
1965,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900,0.024490
1966,195576000,5223500,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200,0.026708
1967,197457000,5903400,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800,0.029897
1968,199399000,6720200,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600,0.033702
1969,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500,0.036800
1970,203235298,8098000,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400,0.039845
1971,206212000,8588200,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200,0.041647
1972,208230000,8248800,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200,0.039614
1973,209851000,8718100,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800,0.041544
1974,211392000,10253400,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100,0.048504
1975,213124000,11292400,1039710,10252700,20510,56090,470500,492620,3265300,5977700,1009600,0.052985
1976,214659000,11349700,1004210,10345500,18780,57080,427810,500530,3108700,6270800,966000,0.052873
1977,216332000,10984500,1029580,9955000,19120,63500,412610,534350,3071500,5905700,977700,0.050776
1978,218059000,11209000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100,0.051404
1979,220099000,12249500,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800,0.055655
1980,225349264,13408300,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700,0.059500
1981,229146000,13423800,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800,0.058582
1982,231534000,12974400,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400,0.056037
1983,233981000,12108600,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900,0.051750
1984,236158000,11881800,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200,0.050313
1985,238740000,12431400,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900,0.052071
1986,240132887,13211869,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137,0.055019
1987,242282918,13508700,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674,0.055756
1988,245807000,13923100,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900,0.056642
1989,248239000,14251400,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800,0.057410
1990,248709873,14475600,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900,0.058203
1991,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700,0.058978
1992,255082000,14438200,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800,0.056602
1993,257908000,14144800,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100,0.054844
1994,260341000,13989500,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300,0.053735
1995,262755000,13862700,1798790,12063900,21610,97470,580510,1099210,2593800,7997700,1472400,0.052759
1996,265228572,13493863,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200,0.050876
1997,267637000,13194571,1634770,11558175,18208,96153,498534,1023201,2460526,7743760,1354189,0.049300
1998,270296000,12475634,1531044,10944590,16914,93103,446625,974402,2329950,7373886,1240754,0.046155
1999,272690813,11634378,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075,0.042665
2000,281421906,11608072,1425486,10182586,15586,90178,408016,911706,2050992,6971590,1160002,0.041248
2001,285317559,11876669,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391,0.041626
2002,287973924,11878954,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646,0.041250
2003,290690788,11826538,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226,0.040684
2004,293656842,11679474,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851,0.039773
2005,296507061,11565499,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859,0.039006
2006,299398484,11401511,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809,0.038081
2007,301621157,11251828,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769,0.037305
2008,304374846,11160543,1392628,9767915,16442,90479,443574,842134,2228474,6588046,958629,0.036667
2009,307006550,10762956,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652,0.035058
2010,309330219,10363873,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565,0.033504
2011,311587816,10258774,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508,0.032924
2012,313914040,10189902,1214464,8975438,14827,84376,354522,760739,2103787,6150598,721053,0.032461

List the 5 years with the highest crime rate in descending order.

In [11]:
crimes.sort_values(by = "Ratio", ascending = False)
crimes.head()

,Population,Total,Violent,Property,Murder,Forcible-Rape,Robbery,Aggravated-assault,Burglary,Larcency-Theft,Vehicle-Theft,Ratio
Year,,,,,,,,,,,,
1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200,0.018872
1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000,0.019061
1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800,0.020198
1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300,0.021803
1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800,0.023881

Calculate the average number of total crimes as well as burglary crimes between 1960 and
2012.

In [27]:
average_crimes = crimes.mean()
average_crimes.iloc[[1, 8]]

Total       1.063807e+07
Burglary    2.446286e+06
dtype: float64

Find the years for which the total number of crimes was below average, but the number
of burglaries was above average.

In [28]:
crimes[(crimes.Total < average_crimes.Total) & (crimes.Burglary > average_crimes.Burglary)]

,Population,Total,Violent,Property,Murder,Forcible-Rape,Robbery,Aggravated-assault,Burglary,Larcency-Theft,Vehicle-Theft,Ratio
Year,,,,,,,,,,,,
1973,209851000,8718100,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800,0.041544
1974,211392000,10253400,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100,0.048504

Select the Population, Violent, and Robbery columns for all years in the 1980s, and save this smaller data frame to a CSV file crime_subset.csv

In [43]:
crime_subset = crimes[["Population", "Violent", "Robbery"]]
crime_subset = crime_subset.iloc[[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]]
crime_subset.to_csv("crime_subset.csv", index = False)
crime_subset

      Population  Violent  Robbery
Year
1980   225349264  1344520   565840
1981   229146000  1361820   592910
1982   231534000  1322390   553130
1983   233981000  1258090   506570
1984   236158000  1273280   485010
1985   238740000  1328800   497870
1986   240132887  1489169   542775
1987   242282918  1483999   517704
1988   245807000  1566220   542970
1989   248239000  1646040   578330

## Problem 2

*The file `titanic.csv` has various features on who survived the accident.  Complete the following problems using this dataset.

Read the data into a DataFrame. Use the first row of the file as the column labels, but do not use any of the columns as the index.

In [51]:
titanic = pd.read_csv("titanic.csv")
titanic

,Pclass,Survived,Name,Sex,Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked,Boat,Body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1.0,1.0,"Anderson, Mr. Harry",male,48.0000,0.0,0.0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39.0000,0.0,0.0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0000,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1.0,0.0,"Astor, Col. John Jacob",male,47.0000,1.0,0.0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1.0,1.0,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0000,1.0,0.0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1.0,1.0,"Aubart, Mme. Leontine Pauline",female,24.0000,0.0,0.0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1.0,1.0,"Barber, Miss. Ellen ""Nellie""",female,26.0000,0.0,0.0,19877,78.8500,NaN,S,6,NaN,NaN
14,1.0,1.0,"Barkworth, Mr. Algernon Henry Wilson",male,80.0000,0.0,0.0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
15,1.0,0.0,"Baumann, Mr. John D",male,NaN,0.0,0.0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
16,1.0,0.0,"Baxter, Mr. Quigg Edmond",male,24.0000,0.0,1.0,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1.0,1.0,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0000,0.0,1.0,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1.0,1.0,"Bazzani, Miss. Albina",female,32.0000,0.0,0.0,11813,76.2917,D15,C,8,NaN,NaN
19,1.0,0.0,"Beattie, Mr. Thomson",male,36.0000,0.0,0.0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"
20,1.0,1.0,"Beckwith, Mr. Richard Leonard",male,37.0000,1.0,1.0,11751,52.5542,D35,S,5,NaN,"New York, NY"
21,1.0,1.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0000,1.0,1.0,11751,52.5542,D35,S,5,NaN,"New York, NY"
22,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0000,0.0,0.0,111369,30.0000,C148,C,5,NaN,"New York, NY"
23,1.0,1.0,"Bidois, Miss. Rosalie",female,42.0000,0.0,0.0,PC 17757,227.5250,NaN,C,4,NaN,NaN
24,1.0,1.0,"Bird, Miss. Ellen",female,29.0000,0.0,0.0,PC 17483,221.7792,C97,S,8,NaN,NaN
25,1.0,0.0,"Birnbaum, Mr. Jakob",male,25.0000,0.0,0.0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA"
26,1.0,1.0,"Bishop, Mr. Dickinson H",male,25.0000,1.0,0.0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
27,1.0,1.0,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0000,1.0,0.0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
28,1.0,1.0,"Bissette, Miss. Amelia",female,35.0000,0.0,0.0,PC 17760,135.6333,C99,S,8,NaN,NaN
29,1.0,1.0,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.0000,0.0,0.0,110564,26.5500,C52,S,D,NaN,"Stockholm, Sweden / Washington, DC"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1280,3.0,0.0,"Vovk, Mr. Janko",male,22.0000,0.0,0.0,349252,7.8958,NaN,S,NaN,NaN,NaN
1281,3.0,0.0,"Waelens, Mr. Achille",male,22.0000,0.0,0.0,345767,9.0000,NaN,S,NaN,NaN,"Antwerp, Belgium / Stanton, OH"
1282,3.0,0.0,"Ware, Mr. Frederick",male,NaN,0.0,0.0,359309,8.0500,NaN,S,NaN,NaN,NaN
1283,3.0,0.0,"Warren, Mr. Charles William",male,NaN,0.0,0.0,C.A. 49867,7.5500,NaN,S,NaN,NaN,NaN
1284,3.0,0.0,"Webber, Mr. James",male,NaN,0.0,0.0,SOTON/OQ 3101316,8.0500,NaN,S,NaN,NaN,NaN
1285,3.0,0.0,"Wenzel, Mr. Linhart",male,32.5000,0.0,0.0,345775,9.5000,NaN,S,NaN,298.0,NaN
1286,3.0,1.0,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0000,0.0,0.0,2688,7.2292,NaN,C,C,NaN,NaN
1287,3.0,0.0,"Widegren, Mr. Carl/Charles Peter",male,51.0000,0.0,0.0,347064,7.7500,NaN,S,NaN,NaN,NaN
1288,3.0,0.0,"Wiklund, Mr. Jakob Alfred",male,18.0000,1.0,0.0,3101267,6.4958,NaN,S,NaN,314.0,NaN
1289,3.0,0.0,"Wiklund, Mr. Karl Johan",male,21.0000,1.0,0.0,3101266,6.4958,NaN,S,NaN,NaN,NaN
1290,3.0,1.0,"Wilkes, Mrs. James (Ellen Needs)",female,47.0000,1.0,0.0,363272,7.0000,NaN,S,NaN,NaN,NaN
1291,3.0,0.0,"Willer, Mr. Aaron (""Abi Weller"")",male,NaN,0.0,0.0,3410,8.7125,NaN,S,NaN,NaN,NaN
1292,3.0,0.0,"Willey, Mr. Edward",male,NaN,0.0,0.0,S.O./P.P. 751,7.5500,NaN,S,NaN,NaN,NaN
1293,3.0,0.0,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0.0,0.0,A/5 2466,8.0500,NaN,S,NaN,NaN,NaN
1294,3.0,0.0,"Williams, Mr. Leslie",male,28.5000,0.0,0.0,54636,16.1000,NaN,S,NaN,14.0,NaN
1295,3.0,0.0,"Windelov, Mr. Einar",male,21.0000,0.0,0.0,SOTON/OQ 3101317,7.2500,NaN,S,NaN,NaN,NaN
1296,3.0,0.0,"Wirz, Mr. Albert",male,27.0000,0.0,0.0,315154,8.6625,NaN,S,NaN,131.0,NaN
1297,3.0,0.0,"Wiseman, Mr. Phillippe",male,NaN,0.0,0.0,A/4. 34244,7.2500,NaN,S,NaN,NaN,NaN
1298,3.0,0.0,"Wittevrongel, Mr. Camille",male,36.0000,0.0,0.0,345771,9.5000,NaN,S,NaN,NaN,NaN
1299,3.0,0.0,"Yasbeck, Mr. Antoni",male,27.0000,1.0,0.0,2659,14.4542,NaN,C,C,NaN,NaN
1300,3.0,1.0,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0000,1.0,0.0,2659,14.4542,NaN,C,NaN,NaN,NaN
1301,3.0,0.0,"Youseff, Mr. Gerious",male,45.5000,0.0,0.0,2628,7.2250,NaN,C,NaN,312.0,NaN
1302,3.0,0.0,"Yousif, Mr. Wazli",male,NaN,0.0,0.0,2647,7.2250,NaN,C,NaN,NaN,NaN
1303,3.0,0.0,"Yousseff, Mr. Gerious",male,NaN,0.0,0.0,2627,14.4583,NaN,C,NaN,NaN,NaN
1304,3.0,0.0,"Zabour, Miss. Hileni",female,14.5000,1.0,0.0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Drop the columns "Sibsp", "Parch", "Cabin", "Boat", "Body", and "home.dest"

In [53]:
titanic = titanic.drop(["Sibsp", "Parch", "Cabin", "Boat", "Body", "home.dest"], axis=1)
titanic

,Pclass,Survived,Name,Sex,Age,Ticket,Fare,Embarked
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,24160,211.3375,S
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,113781,151.5500,S
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,113781,151.5500,S
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,113781,151.5500,S
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,113781,151.5500,S
5,1.0,1.0,"Anderson, Mr. Harry",male,48.0000,19952,26.5500,S
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.0000,13502,77.9583,S
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39.0000,112050,0.0000,S
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,11769,51.4792,S
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0000,PC 17609,49.5042,C
10,1.0,0.0,"Astor, Col. John Jacob",male,47.0000,PC 17757,227.5250,C
11,1.0,1.0,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0000,PC 17757,227.5250,C
12,1.0,1.0,"Aubart, Mme. Leontine Pauline",female,24.0000,PC 17477,69.3000,C
13,1.0,1.0,"Barber, Miss. Ellen ""Nellie""",female,26.0000,19877,78.8500,S
14,1.0,1.0,"Barkworth, Mr. Algernon Henry Wilson",male,80.0000,27042,30.0000,S
15,1.0,0.0,"Baumann, Mr. John D",male,NaN,PC 17318,25.9250,S
16,1.0,0.0,"Baxter, Mr. Quigg Edmond",male,24.0000,PC 17558,247.5208,C
17,1.0,1.0,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0000,PC 17558,247.5208,C
18,1.0,1.0,"Bazzani, Miss. Albina",female,32.0000,11813,76.2917,C
19,1.0,0.0,"Beattie, Mr. Thomson",male,36.0000,13050,75.2417,C
20,1.0,1.0,"Beckwith, Mr. Richard Leonard",male,37.0000,11751,52.5542,S
21,1.0,1.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0000,11751,52.5542,S
22,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0000,111369,30.0000,C
23,1.0,1.0,"Bidois, Miss. Rosalie",female,42.0000,PC 17757,227.5250,C
24,1.0,1.0,"Bird, Miss. Ellen",female,29.0000,PC 17483,221.7792,S
25,1.0,0.0,"Birnbaum, Mr. Jakob",male,25.0000,13905,26.0000,C
26,1.0,1.0,"Bishop, Mr. Dickinson H",male,25.0000,11967,91.0792,C
27,1.0,1.0,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0000,11967,91.0792,C
28,1.0,1.0,"Bissette, Miss. Amelia",female,35.0000,PC 17760,135.6333,S
29,1.0,1.0,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.0000,110564,26.5500,S
...,...,...,...,...,...,...,...,...
1280,3.0,0.0,"Vovk, Mr. Janko",male,22.0000,349252,7.8958,S
1281,3.0,0.0,"Waelens, Mr. Achille",male,22.0000,345767,9.0000,S
1282,3.0,0.0,"Ware, Mr. Frederick",male,NaN,359309,8.0500,S
1283,3.0,0.0,"Warren, Mr. Charles William",male,NaN,C.A. 49867,7.5500,S
1284,3.0,0.0,"Webber, Mr. James",male,NaN,SOTON/OQ 3101316,8.0500,S
1285,3.0,0.0,"Wenzel, Mr. Linhart",male,32.5000,345775,9.5000,S
1286,3.0,1.0,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0000,2688,7.2292,C
1287,3.0,0.0,"Widegren, Mr. Carl/Charles Peter",male,51.0000,347064,7.7500,S
1288,3.0,0.0,"Wiklund, Mr. Jakob Alfred",male,18.0000,3101267,6.4958,S
1289,3.0,0.0,"Wiklund, Mr. Karl Johan",male,21.0000,3101266,6.4958,S
1290,3.0,1.0,"Wilkes, Mrs. James (Ellen Needs)",female,47.0000,363272,7.0000,S
1291,3.0,0.0,"Willer, Mr. Aaron (""Abi Weller"")",male,NaN,3410,8.7125,S
1292,3.0,0.0,"Willey, Mr. Edward",male,NaN,S.O./P.P. 751,7.5500,S
1293,3.0,0.0,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,A/5 2466,8.0500,S
1294,3.0,0.0,"Williams, Mr. Leslie",male,28.5000,54636,16.1000,S
1295,3.0,0.0,"Windelov, Mr. Einar",male,21.0000,SOTON/OQ 3101317,7.2500,S
1296,3.0,0.0,"Wirz, Mr. Albert",male,27.0000,315154,8.6625,S
1297,3.0,0.0,"Wiseman, Mr. Phillippe",male,NaN,A/4. 34244,7.2500,S
1298,3.0,0.0,"Wittevrongel, Mr. Camille",male,36.0000,345771,9.5000,S
1299,3.0,0.0,"Yasbeck, Mr. Antoni",male,27.0000,2659,14.4542,C
1300,3.0,1.0,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0000,2659,14.4542,C
1301,3.0,0.0,"Youseff, Mr. Gerious",male,45.5000,2628,7.2250,C
1302,3.0,0.0,"Yousif, Mr. Wazli",male,NaN,2647,7.2250,C
1303,3.0,0.0,"Yousseff, Mr. Gerious",male,NaN,2627,14.4583,C
1304,3.0,0.0,"Zabour, Miss. Hileni",female,14.5000,2665,14.4542,C
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,2665,14.4542,C
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,2656,7.2250,C
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,2670,7.2250,C
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,315082,7.8750,S
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Replace null entries in the "Age" column with the average age.

In [56]:
avg_age = sum(titanic[titanic.Age.notnull()]["Age"])/1310
titanic = titanic.fillna(avg_age)

Save the new DataFrame as titanic_clean.csv

In [60]:
titanic.to_csv("titanic_clean.csv", index = False)
titanic = pd.read_csv("titanic_clean.csv")
titanic

,Pclass,Survived,Name,Sex,Age,Ticket,Fare,Embarked
0,1.000000,1.000000,"Allen, Miss. Elisabeth Walton",female,29.000000,24160,211.337500,S
1,1.000000,1.000000,"Allison, Master. Hudson Trevor",male,0.916700,113781,151.550000,S
2,1.000000,0.000000,"Allison, Miss. Helen Loraine",female,2.000000,113781,151.550000,S
3,1.000000,0.000000,"Allison, Mr. Hudson Joshua Creighton",male,30.000000,113781,151.550000,S
4,1.000000,0.000000,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.000000,113781,151.550000,S
5,1.000000,1.000000,"Anderson, Mr. Harry",male,48.000000,19952,26.550000,S
6,1.000000,1.000000,"Andrews, Miss. Kornelia Theodosia",female,63.000000,13502,77.958300,S
7,1.000000,0.000000,"Andrews, Mr. Thomas Jr",male,39.000000,112050,0.000000,S
8,1.000000,1.000000,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.000000,11769,51.479200,S
9,1.000000,0.000000,"Artagaveytia, Mr. Ramon",male,71.000000,PC 17609,49.504200,C
10,1.000000,0.000000,"Astor, Col. John Jacob",male,47.000000,PC 17757,227.525000,C
11,1.000000,1.000000,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.000000,PC 17757,227.525000,C
12,1.000000,1.000000,"Aubart, Mme. Leontine Pauline",female,24.000000,PC 17477,69.300000,C
13,1.000000,1.000000,"Barber, Miss. Ellen ""Nellie""",female,26.000000,19877,78.850000,S
14,1.000000,1.000000,"Barkworth, Mr. Algernon Henry Wilson",male,80.000000,27042,30.000000,S
15,1.000000,0.000000,"Baumann, Mr. John D",male,23.859288,PC 17318,25.925000,S
16,1.000000,0.000000,"Baxter, Mr. Quigg Edmond",male,24.000000,PC 17558,247.520800,C
17,1.000000,1.000000,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.000000,PC 17558,247.520800,C
18,1.000000,1.000000,"Bazzani, Miss. Albina",female,32.000000,11813,76.291700,C
19,1.000000,0.000000,"Beattie, Mr. Thomson",male,36.000000,13050,75.241700,C
20,1.000000,1.000000,"Beckwith, Mr. Richard Leonard",male,37.000000,11751,52.554200,S
21,1.000000,1.000000,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.000000,11751,52.554200,S
22,1.000000,1.000000,"Behr, Mr. Karl Howell",male,26.000000,111369,30.000000,C
23,1.000000,1.000000,"Bidois, Miss. Rosalie",female,42.000000,PC 17757,227.525000,C
24,1.000000,1.000000,"Bird, Miss. Ellen",female,29.000000,PC 17483,221.779200,S
25,1.000000,0.000000,"Birnbaum, Mr. Jakob",male,25.000000,13905,26.000000,C
26,1.000000,1.000000,"Bishop, Mr. Dickinson H",male,25.000000,11967,91.079200,C
27,1.000000,1.000000,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.000000,11967,91.079200,C
28,1.000000,1.000000,"Bissette, Miss. Amelia",female,35.000000,PC 17760,135.633300,S
29,1.000000,1.000000,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.000000,110564,26.550000,S
...,...,...,...,...,...,...,...,...
1280,3.000000,0.000000,"Vovk, Mr. Janko",male,22.000000,349252,7.895800,S
1281,3.000000,0.000000,"Waelens, Mr. Achille",male,22.000000,345767,9.000000,S
1282,3.000000,0.000000,"Ware, Mr. Frederick",male,23.859288,359309,8.050000,S
1283,3.000000,0.000000,"Warren, Mr. Charles William",male,23.859288,C.A. 49867,7.550000,S
1284,3.000000,0.000000,"Webber, Mr. James",male,23.859288,SOTON/OQ 3101316,8.050000,S
1285,3.000000,0.000000,"Wenzel, Mr. Linhart",male,32.500000,345775,9.500000,S
1286,3.000000,1.000000,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.000000,2688,7.229200,C
1287,3.000000,0.000000,"Widegren, Mr. Carl/Charles Peter",male,51.000000,347064,7.750000,S
1288,3.000000,0.000000,"Wiklund, Mr. Jakob Alfred",male,18.000000,3101267,6.495800,S
1289,3.000000,0.000000,"Wiklund, Mr. Karl Johan",male,21.000000,3101266,6.495800,S
1290,3.000000,1.000000,"Wilkes, Mrs. James (Ellen Needs)",female,47.000000,363272,7.000000,S
1291,3.000000,0.000000,"Willer, Mr. Aaron (""Abi Weller"")",male,23.859288,3410,8.712500,S
1292,3.000000,0.000000,"Willey, Mr. Edward",male,23.859288,S.O./P.P. 751,7.550000,S
1293,3.000000,0.000000,"Williams, Mr. Howard Hugh ""Harry""",male,23.859288,A/5 2466,8.050000,S
1294,3.000000,0.000000,"Williams, Mr. Leslie",male,28.500000,54636,16.100000,S
1295,3.000000,0.000000,"Windelov, Mr. Einar",male,21.000000,SOTON/OQ 3101317,7.250000,S
1296,3.000000,0.000000,"Wirz, Mr. Albert",male,27.000000,315154,8.662500,S
1297,3.000000,0.000000,"Wiseman, Mr. Phillippe",male,23.859288,A/4. 34244,7.250000,S
1298,3.000000,0.000000,"Wittevrongel, Mr. Camille",male,36.000000,345771,9.500000,S
1299,3.000000,0.000000,"Yasbeck, Mr. Antoni",male,27.000000,2659,14.454200,C
1300,3.000000,1.000000,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.000000,2659,14.454200,C
1301,3.000000,0.000000,"Youseff, Mr. Gerious",male,45.500000,2628,7.225000,C
1302,3.000000,0.000000,"Yousif, Mr. Wazli",male,23.859288,2647,7.225000,C
1303,3.000000,0.000000,"Yousseff, Mr. Gerious",male,23.859288,2627,14.458300,C
1304,3.000000,0.000000,"Zabour, Miss. Hileni",female,14.500000,2665,14.454200,C
1305,3.000000,0.000000,"Zabour, Miss. Thamine",female,23.859288,2665,14.454200,C
1306,3.000000,0.000000,"Zakarian, Mr. Mapriededer",male,26.500000,2656,7.225000,C
1307,3.000000,0.000000,"Zakarian, Mr. Ortin",male,27.000000,2670,7.225000,C
1308,3.000000,0.000000,"Zimmerman, Mr. Leo",male,29.000000,315082,7.875000,S
1309,23.859288,23.859288,23.85928755725191,23.85928755725191,23.859288,23.85928755725191,23.859288,23.85928755725191

How many people survived? What percentage of passengers survived?

In [74]:
s = titanic[titanic.Survived == 1]
surv = sum(s.Survived)
print(surv)
percentage = surv/1310
percentage

500.0

0.3816793893129771

What was the average price of a ticket? How much did the most expensive ticket cost?

In [69]:
avg_ticket = sum(titanic[titanic.Fare.notnull()]["Fare"]) / 1310
print(avg_ticket)
highest_cost = titanic.sort_values(by = "Fare", ascending = False)
highest_cost.iloc [0]["Fare"]

33.281072881766946

512.3292

How old was the oldest survivor? How young was the youngest survivor? What about
non-survivors?

In [78]:
old_survivors = s.sort_values(by = "Age", ascending = False)
oldest_surv = old_survivors.iloc[0]["Age"]
print(oldest_surv)

youngest_survivors = s.sort_values(by = "Age")
youngest_surv = youngest_survivors.iloc[0]["Age"]
print(youngest_surv)

old = titanic.sort_values(by = "Age", ascending = False)
oldest = old.iloc[0]["Age"]
print(oldest)

young = titanic.sort_values(by = "Age")
youngest = young.iloc[0]["Age"]
print(youngest)

80.0
0.1667
80.0
0.1667