In [12]:
import pandas as pd

In [13]:
%matplotlib inline

import matplotlib as mpl
mpl.rcParams["figure.figsize"] = (12,12)

Data Loading

In [14]:
airbnb = pd.read_csv("data/airbnb.csv")

In [15]:
airbnb.shape

(13232, 9)

In [16]:
airbnb.head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
1,17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
3,29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
4,29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

In [17]:
airbnb = airbnb.drop(columns=["reviews"])

In [18]:
airbnb.dtypes

room_id                   int64
host_id                   int64
room_type                object
neighborhood             object
overall_satisfaction    float64
accommodates              int64
bedrooms                float64
price                   float64
dtype: object

Data Dictionary

-room_id (float).
-host_id (int). 
-room_type (categorical). 
-neighborhood (categorical). Section of Lisbon
-reviews (int). Number of reviews
-overall_satisfaction(float). Satisfaction rating out of 5
-accommodates (int). Number of people that can stay in room
-bedrooms (float). 
-price (float).

In [19]:
airbnb.to_csv("data/airbnb.1.initial_process.csv", index=False)